body, html {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
#game {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.guess {
    display: flex;
}
.box {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    margin: 2px;
    font-size: 20px;
}
.correct {
    background-color: green;
}
.present {
    background-color: yellow;
}
.result {
    background-color: #dedede; /* 为结果格子设置不同的背景色 */
}

.gap {
    width: 20px; /* 根据需要调整宽度 */
    flex-shrink: 0; /* 防止间隔被压缩 */
}
button {
    padding: 10px;
    margin: 5px;
    background-color: #ddd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#deleteButton {
    background-color: #f88; /* 给删除按钮一个不同的颜色以突出显示 */
}