/* 加载自定义字体 */
@font-face {
    font-family: 'HYWenHei85W';
    src: url('fonts/汉仪文黑-85W.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body,
html {
    font-family: 'HYWenHei85W';
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-sizing: border-box;
}

#currentGuess {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

#idiomInput {
    font-family: 'HYWenHei85W';
    width: 200px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.box {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    font-size: 20px;
    background-color: #f4f4f4;
    margin-right: 3px;
}

.box .corner {
    position: absolute;
    font-size: 10px;
}

.top-left {
    top: 0;
    left: 0;
}

.top-right {
    top: 0;
    right: 0;
}

.bottom-left {
    bottom: 0;
    left: 0;
}

.bottom-right {
    bottom: 0;
    right: 0;
}

.right-middle {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}


#guesses {
    height: 300px;
    width: 100%;
    overflow-y: auto;
    margin-bottom: 20px;
}

.guess {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

#submitGuess {
    font-family: 'HYWenHei85W';
    padding: 10px;
    background-color: #ddd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.green {
    color: green;
}

.yellow {
    color: orange;
}

#revealAnswer {
    font-family: 'HYWenHei85W';
    padding: 10px;
    background-color: #ddd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}