/* 加载自定义字体 */
@font-face {
    font-family: 'HYWenHei85W';
    src: url('fonts/汉仪文黑-85W.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body, html {
    font-family: 'HYWenHei85W';
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px; /* 根据需求调整宽度 */
    padding: 20px;
    box-sizing: border-box;
}

#currentGuess {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.box {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    font-size: 20px;
    background-color: #f4f4f4;
}


.gap {
    width: 20px; /* 设置间隙的宽度 */
    flex-shrink: 0; /* 防止间隙在布局调整时被压缩 */
}

#guesses {
    height: 300px; /* 根据视口大小调整 */
    width: 100%;
    overflow-y: auto; /* 允许垂直方向上滚动 */
    margin-bottom: 20px; /* 与其他元素的间隔 */
}

.guess {
    display: flex;
    justify-content: center; /* 中心对齐每个元素 */
    width: 100%;
    margin-bottom: 10px; /* 猜测记录之间的间距 */
}

#keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.button, #deleteButton, #submitGuess {
    font-family: 'HYWenHei85W';
    padding: 10px;
    margin: 5px;
    background-color: #ddd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#deleteButton {
    background-color: #f88; /* 给删除按钮一个不同的颜色以突出显示 */
}
#submitGuess {
    background-color: #ade; /* 给删除按钮一个不同的颜色以突出显示 */
}

.correct {
    background-color: green;
}
.present {
    background-color: yellow;
}
.result {
    background-color: #dedede; /* 为结果格子设置不同的背景色 */
}
